body {
    background-color: rgb(59, 59, 59);
    color: #fff;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#container {
    width: 70%;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background-color: #008d09;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(167, 167, 167, 0.75);
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#post {
    padding: 1em;
}

<<<<<<< HEAD

/*footer*/

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
}

.footer p {
    margin: 0;
}

.content-footer {
    padding: .4em;
=======
.btn {
    display: flex;
    justify-content: flex-end;
}

.styel_btn {
    background-color: #cccccc;
    padding: .7em 2em;
    text-decoration: none;
    font-weight: bold;
    color: #069b19;
    cursor: pointer;
>>>>>>> master
}